@using ExamManager.Models
@model (User User, PersonalTaskView PersonalTask)
@{
    ViewData["Title"] = Model.PersonalTask.Title;
    ViewData["UserName"] = $"{Model.User.LastName} {Model.User.FirstName}";
    ViewData["IsAdmin"] = Model.User.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}
<link rel="stylesheet" href="~/css/account/task.css" />
<div class="container">
    <div class="page-header" value="@Model.PersonalTask.ObjectID">@Model.PersonalTask.Title</div>
    <div class="description">
        @Html.Raw(Model.PersonalTask.Description)
    </div>
    <div class="vmachines-list">
        @foreach (var vMachine in Model.PersonalTask.VirtualMachines)
        {
            <div id="@vMachine.Image.ID" vmid="@(vMachine.Instance?.Name ?? string.Empty)" class="vmachine">
                <div class="header">@vMachine.Image.ID</div>
                <!--С помощью JS подгружается список рабоающих виртуальных машин-->
                @if ((vMachine.Instance?.Status ?? VMStatus.KILLED) == VMStatus.KILLED)
                {
                    <div class="description danger">
                        Отключена
                    </div>
                }
                else if (vMachine.Instance?.Status == VMStatus.RUNNING)
                {
                    <div class="description success">
                        Работает
                    </div>
                }
                else if (vMachine.Instance?.Status == VMStatus.LOADING)
                {
                    <div class="description warning">
                        Включение
                    </div>
                }
                <div class="actions">
                    @if ((vMachine.Instance?.Status ?? VMStatus.KILLED) == VMStatus.KILLED)
                    {
                        <input type="button" class="btn-info turn-on" value="Включить" />
                    }
                    else if (vMachine.Instance?.Status == VMStatus.RUNNING)
                    {
                        <input type="button" class="btn-action connect" value="Подключиться" />
                        <input type="button" class="btn-cancel turn-off" value="Отключить" />
                    }
                    else if (vMachine.Instance?.Status == VMStatus.LOADING)
                    {
                        <input type="button" class="btn-info turn-on disabled" disabled="disabled" value="Включить" />
                    }
                </div>
            </div>
        }
    </div>
    <div class="footer">
        @if (Model.PersonalTask.Status != ExamManager.Models.TaskStatus.CHECKING)
        {
            <input type="button" class="btn-info check" value="Проверить" />
        }
        else
        {
            <input type="button" class="btn-info check disabled" disabled value="Проверить" />
        }
        @if (Model.PersonalTask.Message is not null || Model.PersonalTask.Status == ExamManager.Models.TaskStatus.SUCCESSED)
        {
            @if (Model.PersonalTask.Status == ExamManager.Models.TaskStatus.SUCCESSED)
            {
                <div class="result success">
                    Успешно
                </div>
            }
            else if (Model.PersonalTask.Message is not null)
            {
                <div class="result danger">
                    @Model.PersonalTask.Message
                </div>
            }
        }
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/account/task/personal-task.js"></script>